{% extends 'main/base.html' %}
{% block title %}FBT Edu Home{% endblock %}

{% block content %}
<h1>FBT Edu Main Page</h1>
    <h2>Login</h2>
    <form method="post">
        {% csrf_token %}
        <label for="username">Username:</label>
        <input type="username" id="username" name="username" required>
        <br>
        <label for="password">Password:</label>
        <input type="password" id="password" name="password" required>
        <br>
        <button type="submit">Login</button>
    </form>
    {% if user.is_authenticated %}
    <p>You are logined</p>
    {% else %}
    <p>You are Not login in</p>
    {% endif %}

<!-- <a href="{% url 'students_home' %}">Go to students app</a>-->
<!--<br>-->
<!-- <a href="">Go to teacher app</a> -->
{% endblock %}
