{% extends 'students/base.html' %}
{% block title %}Demo 2{% endblock %}

{% block content %}
    <div class="container">
        <h3>
            <span id="ctl00_mainContent_lblRollnumber" style="font-weight: 700">Student {{student.name}}({{student.roll_number}})</span>
            "-"
            <span id="ctl00_mainContent_lblCurriculum" style="font-weight: 700; color: #FF0000">{{student.curriculum}}</span>
        </h3>
        <ul class="list-group">
        {% for item in course %}
            <li class="list-group-item">
                <a href="{% url 'students_show_course_demo' %}">{{item.name}} - {{item.course_code}}</a>
            </li>
        {% endfor %}
        </ul>
    </div>
{% endblock %}